{% extends "admin/change_list.html" %}
{% load i18n admin_urls static %}

{% block bodyclass %}{{ block.super }} console-changelist console-users{% endblock %}

{% block content_title %}
<div class="console-page-heading console-heading-row">
  <div>
    <h1>Usuarios</h1>
    <p>Gestiona las cuentas de acceso, sus roles, estados y actividad.</p>
  </div>
</div>
{% endblock %}

{% block object-tools-items %}
  {% if has_add_permission %}
    <li>
      <a href="{% url cl.opts|admin_urlname:'add' %}" class="addlink console-add-button">+ Añadir usuario</a>
    </li>
  {% endif %}
{% endblock %}
