<div class="system-sidebar-menu">
  <div class="sidebar-section">
    <span class="sidebar-section-title">GENERAL</span>
    <a href="{% url 'admin:index' %}" class="system-sidebar-link {% if request.path == '/admin/' %}active{% endif %}"><span class="sidebar-menu-icon blue">▦</span><span class="sidebar-menu-text">Dashboard</span></a>
    <a href="{% url 'admin:auth_user_changelist' %}" class="system-sidebar-link {% if '/admin/auth/user/' in request.path %}active{% endif %}"><span class="sidebar-menu-icon blue">♟</span><span class="sidebar-menu-text">Usuarios</span></a>
    <a href="{% url 'admin:auth_group_changelist' %}" class="system-sidebar-link {% if '/admin/auth/group/' in request.path %}active{% endif %}"><span class="sidebar-menu-icon green">◇</span><span class="sidebar-menu-text">Roles y permisos</span></a>
  </div>
  <div class="sidebar-section">
    <span class="sidebar-section-title">SEGURIDAD</span>
    <a href="{% url 'admin:system_audit' %}" class="system-sidebar-link {% if '/admin/auditoria/' in request.path %}active{% endif %}"><span class="sidebar-menu-icon yellow">▤</span><span class="sidebar-menu-text">Auditoría</span></a>
  </div>
</div>
